:root {
  --primary-background: #242424;
  --primary-foreground: rgba(255, 255, 255, 0.87);
  --primary-accent: #646cff;

  --secondary-background: #282828;
  --secondary-accent: #535bf2;
  --secondary-accent-half: #535bf288;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-foreground);
  background-color: var(--primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-background: white;
    --primary-foreground: #213547;

    --secondary-background: #e0e0e0;
  }
}

a {
  font-weight: 500;
  color: var(--primary-accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary-accent);
}

body {
  margin: 0;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  text-align: center;
  color: initial;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

select, input, button, .button {
  color: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

select:hover, input:hover, button:hover, .button:hover {
  color: inherit;
  border-color: var(--primary-accent);
}

button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }

  select, input, button, .button {
    background-color: #f9f9f9;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.logo {
  margin-bottom: 5em;
}

.filter-container {
  box-sizing: border-box;
  width: 55%;
  max-width: 1000px;
  margin-bottom: 2em;
  font-size: 1.4rem;
}

.filter-container * {
  min-width: max-content;
}

.filter-form {
  border-radius: 8px;
  display: flex;
}

.filter-form>* {
  border-radius: 0;
  vertical-align: middle;
}

.filter-form>*:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.filter-form>*:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.filter-form>input[type="search"] {
  box-sizing: border-box;
  flex: 1;
}

.filters {
  margin-block: .8em;
  display: flex;
  gap: .5em;
}

.filter {
  background-color: var(--secondary-accent-half);
  font-size: .8em;
  padding: .2em .8em;
  border-radius: 20px;
  display: flex;
  gap: .4em;
  align-items: center;
}

.filter>.material-symbols-outlined {
  font-size: 1.2em;
  cursor: pointer;
}

#new_contact {
  position: fixed;
  font-size: 1.5em;
  bottom: 1.4em;
  right: 1.4em;
  padding: 0.5em 1em;
}

#new_contact>* {
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  position: relative;
}

th {
  text-align: inherit;
}

th, td {
  padding: .6em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  --cell-border-radius: 15px;
}

thead {
  border-bottom: 1px solid #888;
}

tbody>tr:hover {
  background-color: var(--secondary-accent-half);
}

td:first-child {
  border-top-left-radius: var(--cell-border-radius);
  border-bottom-left-radius: var(--cell-border-radius);
}

td:nth-child(8) {
  border-bottom-right-radius: var(--cell-border-radius);
  border-top-right-radius: var(--cell-border-radius);
  width: max-content;
}

.contact-form {
  display: grid;
  font-size: 1.4em;
  gap: 1.6em;
}

@media (min-width: 700px) {
  .contact-form {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-form>*:last-child {
  grid-column: 1 / -1;
}

.contact-form>div>* {
  display: block;
}

.contact-options {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

tbody>tr:hover .contact-options {
  display: initial;
}

.contact-options>button {
  font-size: .5em;
}

.edit:hover {
  color: var(--secondary-accent);
}

.delete:hover {
  color: firebrick;
}

.contact-form-container {
  box-sizing: border-box;
  min-width: max-content;
  background-color: var(--secondary-background);
  padding: 3em;
  border-radius: 1em;
  overflow-y: auto;
}

@media(max-height: 900px) {
  .contact-form-container {
    font-size: .9rem;
  }
}

@media(max-height: 800px) {
  .contact-form-container {
    font-size: .8rem;
  }
}

@media(max-height: 700px) {
  .contact-form-container {
    font-size: .7rem;
  }
}

.contact-form-container[open] {
  animation: modal-animation .25s;
}

@keyframes modal-animation {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-form-container::backdrop {
  background-color: #222d;
}

.contact-form-container input {
  box-sizing: border-box;
  width: 100%;
}

.contact-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

#close-button {
  cursor: pointer;
  font-size: 3em;
}

.contact-header {
  display: inline;
  margin: 0 0 0 .4em;
  font-size: 2.2em;
}

.paging {
  display: flex;
  gap: .8em;
  align-items: center;
  margin-block: 2em;
}

.current {
  cursor: auto;
  background-color: var(--secondary-accent-half);
}